<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/login.css">
    <title>login</title>
    <script>
        function login(){
            
        }
    </script>
</head>
<body>
    <div class="login-form">
        <h2>Login</h2>
        <input type="text" id="loginAccount" placeholder="登陆账号：请输入登陆账号">
        <input type="password" id="password" placeholder="密码：请输入密码">
        <button onclick="login()">Longin</button>
    </div>
</body>
</html>